.test-blackred {
  color: black !important;
}

.test-blackred .test-blackred-inner {
  color: red !important;
}

.test-as-blackred {
  color: black;
}

.test-as-blackred .test-blackred-inner {
  color: red !important;
}

.final {
  color: black;
}
