.css {
  position: initial;
}

.css > .css-inner {
  display: inline-block;
  display: block !important;
}

.final-css {
  @media (min-width: 768px) {
    position: initial;

    display: inline-block;

    display: block !important;
  }
}

@media (min-width: 768px) {
  .final-plugin {
    position: initial !important;
  }
}